@import "flowbite";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

:root {
  --background: #ffffff;
  --foreground: #34230a;
  --muted: #f5f5f5;
  --muted-foreground: #6f6f6f;
  --popover: #ffffff;
  --popover-foreground: #34230a;
  --card: #ffffff;
  --card-foreground: #34230a;
  --border: #e5e5e5;
  --input: #e5e5e5;
  --primary: #3b82f6;
  --primary-foreground: #ffffff;
  --secondary: #f5f5f5;
  --secondary-foreground: #3d3d3d;
  --accent: #f5f5f5;
  --accent-foreground: #3d3d3d;
  --destructive: #dc2626;
  --destructive-foreground: #f9f9f9;
  --ring: #34230a;
  --radius: 0.5rem;
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
  --muted: #2d2d2d;
  --muted-foreground: #a3a3a3;
  --popover: #1a1a1a;
  --popover-foreground: #ffffff;
  --card: #1a1a1a;
  --card-foreground: #ffffff;
  --border: #2d2d2d;
  --input: #2d2d2d;
  --primary: #3b82f6;
  --primary-foreground: #ffffff;
  --secondary: #2d2d2d;
  --secondary-foreground: #ffffff;
  --accent: #2d2d2d;
  --accent-foreground: #ffffff;
  --destructive: #b91c1c;
  --destructive-foreground: #ffffff;
  --ring: #d9d9d9;
  --radius: 0.5rem;
}

/* Primary button color globally, except sidebar */
.button-primary:not(.sidebar-button) {
  background-color: #06A830 !important;
  border-color: #06A830 !important;
  color: #fff !important;
}